.red
{
    background-color: rgba(228, 79, 79, 0.658);
}
.yellow
{
    background-color: rgba(218, 218, 81, 0.664);
}
.blue
{
    background-color: rgba(100, 100, 235, 0.658);
}
.green
{
    background-color: rgba(78, 173, 78, 0.644);
}
.purple
{
    background-color: rgba(216, 106, 216, 0.637);
}
.orange
{
    background-color: rgba(231, 184, 97, 0.678);
}