.dropdown
{
    background-color: ivory;
    z-index: 1;
    position: absolute;
}
.addItem
{
    background-color: ivory;
    position: relative;
}
.canvas
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}